bazel-1.0.0.bazelrc

common --enable_bzlmod

# Try to speed up sandboxes
common --experimental_reuse_sandbox_directories

common --strategy=Scalac=worker
common --worker_sandboxing

common --jobs=64

common --cxxopt="--std=c++20"
common --host_cxxopt="--std=c++20"

# suppress warnings due to https://developer.apple.com/forums/thread/733317
common --linkopt=-Wl,-no_warn_duplicate_libraries
